* {
    font-family: "Roboto";
    color: #F9FAF8;
}

body {
    display: flex;
    flex-direction: column;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
}

button {
    background-color: #3882F6;
    border-color: #F9FAF8;
}

.subtext,
li {
    color: #EFE7EB;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
}

li {
    display: inline-block;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
}


.content {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.hero {
    display: flex;
    padding: 200px;
}

img {
    width: 500px;
    height: auto;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

.info {
    display: flex;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-img {
    width: 300px;
}

.info-subtext {
    color: black;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 300px;
}

.quote-text,
.quote-source {
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: lightslategray;
}

.quote-source {
    text-align: right;
    font-size: 20px;
    color: #1F2937;
    font-weight: bold;
}

.CTA {
    display: flex;
    justify-content: space-evenly;
    background-color: #3882F6;
    margin: 100px 200px;
    padding: 100px;
    border-radius: 10px;
}

.CTA-title {
    font-weight: bold;
    font-size: 24px;
}

.footer {
    text-align: center;

}