* {
    font-family: Roboto;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1
}

img {
    height: 50px;
}

/* header start */
.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
}

a {
    color: lightgray;
    text-decoration: none;
}

ul > li {
    list-style: none;
    display: inline-block;
}

/* header ends */

/* site-overview starts */

h3 {
    font-size: 48px;
    color: #F9FaF8;
    font-weight: bolder;
}

.site-overview {
    background-color:  #1F2937;
    color: white;
    display: flex;
}

