.content {
    display: flex;
    flex-direction: column;
    flex: 1
}

img {
    height: 50px;
}

/* header start */
.header {
    display: flex;
    background-color: navy;
    justify-content: space-between;
}

a {
    color: lightgray;
    text-decoration: none;
}

ul > li {
    list-style: none;
    display: inline-block;
}